@charset "UTF-8";
/* color変数 */
/*--------------------------------
loading animation
--------------------------------*/
/* ローディングアニメーション */
.loading {
  width: 100vw;
  height: 100vh;
  transition: all 2s;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 2s;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.loading-animation .el_logo {
  width: 300px;
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------
fv
--------------------------------*/
.ly_fv {
  background-image: url(./img/fv.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.ly_fv::before {
  /* 透過させた黒を重ねる */
  background-color: rgba(0, 0, 0, 0.2);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

.el_icon_wrapper {
  position: fixed;
  top: 88%;
  right: 10px;
  transform: translateY(-50%);
}
.el_icon_wrapper .el_icon:first-child {
  margin-bottom: 10px;
}

.el_fv_copy {
  line-height: 3;
  writing-mode: vertical-rl;
  position: absolute;
  top: 12%;
  font-size: 3rem;
  color: #ffffff;
  padding-left: 15vw;
  letter-spacing: 0.4em;
}
.el_fv_copy span {
  font-size: 2.5rem;
}

.el_banner {
  width: 200px;
  position: absolute;
  right: 10%;
  top: 20%;
  cursor: pointer;
  transition: 0.5s;
}
.el_banner:hover {
  top: 21%;
}

/*--------------------------------
concept
--------------------------------*/
#concept {
  overflow: hidden;
}
#concept .bl_section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
#concept .bl_section_imgWrapper {
  flex: 1;
}
#concept .bl_section_imgWrapper > img {
  width: 100%;
}
#concept .bl_section_body {
  flex: 1;
  padding-left: 4vw;
}
#concept .bl_section_txt {
  color: #707070;
  margin-bottom: 20px;
}
#concept .bl_section_body > *:last-child {
  margin-bottom: 0;
}
#concept .bl_section_header {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.bg1 {
  width: 40vw;
  max-width: 500px;
  min-width: 230px;
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10vw;
}

.bg2 {
  width: 30%;
  max-width: 400px;
  min-width: 200px;
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: auto;
  padding-right: 10px;
}

.bg3 {
  width: 30%;
  max-width: 400px;
  min-width: 200px;
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: auto;
  padding-right: 10px;
}

.bg4 {
  width: 40vw;
  max-width: 500px;
  min-width: 230px;
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10vw;
}

/*--------------------------------
beginner
--------------------------------*/
#beginner .bl_section {
  margin-bottom: 200px;
  gap: 6vw;
  flex-wrap: wrap;
  justify-content: center;
}
#beginner .bl_section:last-of-type {
  margin-bottom: 0;
}
#beginner .bl_section_txt {
  position: relative;
  padding: 15px 30px;
  width: 30%;
}
#beginner .bl_section_txt span {
  font-weight: bold;
}
#beginner .bl_section_txt::before, #beginner .bl_section_txt::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 50px;
  box-sizing: border-box;
}
#beginner .bl_section_txt::before {
  top: 0;
  left: 0;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
}
#beginner .bl_section_txt::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
}

@media screen and (max-width: 959px) {
  .bl_section {
    display: block;
  }
  .bl_section_imgWrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
/*--------------------------------
menu
--------------------------------*/
#menu {
  overflow: hidden;
}
#menu .bl_section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
#menu .bl_section_imgWrapper {
  flex: 1;
}
#menu .bl_section_imgWrapper > img {
  width: 100%;
}
#menu .bl_section_body {
  flex: 1;
  text-align: center;
}
#menu .bl_section_txt {
  color: #707070;
}
#menu .bl_section_txt span {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(245, 57, 57);
}
#menu .bl_section_body > *:last-child {
  margin-bottom: 0;
}
#menu .bl_section_banner {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  color: #ffffff;
  background-color: #52b2ac;
  padding: 10px 20px;
  width: 60%;
  min-width: 320px;
  box-sizing: border-box;
}
#menu .bl_section_header {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}
#menu table {
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
}
#menu th {
  width: 30%;
  height: 80px;
  border: 1px solid #f2f2f2;
  display: revert;
  background-color: #f2f2f2;
  vertical-align: middle;
  text-align: center;
}
#menu td {
  width: 70%;
  text-align: center;
  height: 80px;
  color: red;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
}
#menu td span {
  font-size: 1.3rem;
}
#menu small {
  font-size: 1rem;
  color: #707070;
  display: block;
  margin-bottom: 30px;
}
#menu .bl_card_wrapper {
  gap: 10%;
  margin-top: 30px;
}
#menu .bl_card {
  width: 30%;
  text-align: center;
}
#menu .bl_card_imgWrapper {
  margin-bottom: 20px;
}
#menu .bl_card_imgWrapper img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*--------------------------------
company
--------------------------------*/
/*--------------------------------
news
--------------------------------*/
#news .bl_section {
  width: 80%;
  margin: 0 auto;
}
#news .bl_section_body {
  border-bottom: 1px solid #f2f2f2;
}
#news .bl_section_date {
  color: #707070;
  font-size: 1.2rem;
}
#news .bl_section_header {
  font-size: 1.5rem;
  font-weight: normal;
  color: #272534;
}

/*--------------------------------
access
--------------------------------*/
#access .bl_section .el_tel {
  font-size: 2rem;
  color: #707070;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
}
#access .bl_section small {
  font-size: 1rem;
}
#access .ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#access .ggmap iframe,
#access .ggmap object,
#access .ggmap embed {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 500px;
}

/* 各固定ページのスタイリング */
#concept-p {
  overflow: hidden;
}
#concept-p .bl_section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
#concept-p .bl_section_imgWrapper {
  flex: 1;
}
#concept-p .bl_section_imgWrapper > img {
  width: 100%;
}
#concept-p .bl_section_body {
  flex: 1;
  padding-left: 4vw;
}
#concept-p .bl_section_txt {
  color: #707070;
  margin-bottom: 20px;
}
#concept-p .bl_section_body > *:last-child {
  margin-bottom: 0;
}
#concept-p .bl_section_header {
  margin-bottom: 20px;
  font-size: 1.8rem;
  display: inline-block;
  position: relative;
}

#concept_feature .bl_section {
  margin-bottom: 200px;
  gap: 6vw;
  flex-wrap: wrap;
}
#concept_feature .bl_section:last-of-type {
  margin-bottom: 0;
}
#concept_feature .bl_section_txt {
  position: relative;
  padding: 15px 30px;
  width: 30%;
}
#concept_feature .bl_section_txt span {
  font-weight: bold;
}
#concept_feature .bl_section_txt::before, #concept_feature .bl_section_txt::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 50px;
  box-sizing: border-box;
}
#concept_feature .bl_section_txt::before {
  top: 0;
  left: 0;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
}
#concept_feature .bl_section_txt::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
}

#concept_reserved .bl_section .el_tel {
  font-size: 2rem;
  color: #707070;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
}

#beginner_flow {
  overflow: hidden;
}
#beginner_flow .bl_section {
  align-items: center;
}
#beginner_flow .bl_section_body {
  width: 45%;
  max-width: 500px;
  margin-top: -80px;
}
#beginner_flow .bl_section_body:nth-child(2n) {
  margin-left: auto;
}
#beginner_flow .bl_section_body:nth-child(2n+1) {
  margin-right: auto;
}
#beginner_flow .bl_section_body:nth-child(3) {
  margin-top: 0px;
}
#beginner_flow .bl_section_imgWrapper {
  text-align: center;
}
#beginner_flow .bl_section_imgWrapper > img {
  width: 100%;
}
#beginner_flow .bl_section_txt {
  color: #707070;
  margin-top: 20px;
  margin-bottom: 20px;
}
#beginner_flow .bl_section_body > *:last-child {
  margin-bottom: 0;
}
#beginner_flow .bl_section_header {
  display: block;
  text-align: center;
  color: #272534;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 1;
  margin-bottom: 20px;
}
#beginner_flow .bl_section_header h3 {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  position: relative;
}
#beginner_flow .bl_section_header_num {
  position: absolute;
  top: -10px;
  left: 0px;
  font-size: 4rem;
  color: black;
}

#beginner_cta {
  text-align: center;
}
#beginner_cta .ly_inner {
  max-width: 700px;
}
#beginner_cta h2 {
  line-height: 2;
  font-size: 2.5rem;
  display: block;
  background-color: #52b2ac;
  color: #ffffff;
}
#beginner_cta small {
  display: block;
  font-size: 1rem;
}

.bl_privacy_article h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.bl_row_article h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

#faq-p .bl_faq_list {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}
#faq-p .bl_faq_item_question {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 28px 37px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(248, 248, 248);
  cursor: pointer;
}
#faq-p .bl_faq_item_question p {
  color: #52b2ac;
}
#faq-p .el_faq_icon {
  position: relative;
  width: 60px;
  height: auto;
  transition: ease 0.5s;
  cursor: pointer;
  z-index: 999;
}
#faq-p .el_faq_icon::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) rotate(90deg);
  height: 1px;
  width: 10px;
  background: #52b2ac;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}
#faq-p .el_faq_icon::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 10px;
  background: #52b2ac;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}
#faq-p .bl_faq_item_answer {
  display: none;
  color: #333;
  text-align: left;
  background-color: rgb(248, 248, 248);
  padding: 28px 20px 28px 50px;
}
#faq-p .bl_faq_item_question.open .el_faq_icon::before {
  top: 50%;
  transform: translate(-50%, -50%);
}
#faq-p .bl_faq_item_question.open .el_faq_icon::after {
  top: 50%;
  transform: translate(-50%, -50%);
}

#menu-p .bl_card {
  border: 0.5px solid #707070;
}
#menu-p .bl_card_body {
  padding: 30px;
}
#menu-p .bl_card_ttl {
  font-size: 2rem;
  display: table;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
#menu-p .recommend {
  border: 2px solid orange;
  position: relative;
}
#menu-p .recommend h4 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 4px 5px;
}
#menu-p .bl_card_price {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #272534;
  font-size: 3rem;
  font-weight: bold;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
}
#menu-p .bl_card_price span {
  font-size: 1.3rem;
}
#menu-p .bl_section {
  margin-bottom: 200px;
  gap: 6vw;
  flex-wrap: wrap;
}
#menu-p .bl_section:last-of-type {
  margin-bottom: 0;
}
#menu-p .bl_section_txt {
  position: relative;
  padding: 15px 30px;
  width: 30%;
}
#menu-p .bl_section_txt span {
  font-weight: bold;
}
#menu-p small {
  font-size: 1rem;
  text-indent: -1em;
  display: table;
  margin-right: auto;
  margin-left: auto;
  padding-left: 4vw;
  padding-right: 4vw;
}

#recruit .bl_recruit {
  width: 100%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
#recruit .bl_recruit dt {
  font-weight: bold;
  width: 20%;
  padding: 20px 0;
  float: left;
  color: #707070;
  text-shadow: 0px 0px 2px #ffffff;
}
#recruit .bl_recruit .bl_recruit_definition {
  width: 70%;
  padding: 20px 0;
  float: left;
  color: #707070;
  text-shadow: 0px 0px 2px #ffffff;
  line-height: 1.5;
}
#recruit .bl_recruit .el_bor-btm {
  border-bottom: 0.5px solid #707070;
  display: block;
}
#recruit .bl_recruit .el_notice {
  font-size: 80%;
}

/*--------------------------------
single
--------------------------------*/
#single .bl_news {
  max-width: 900px;
  margin: 0 auto;
}
#single .bl_news_ttl {
  color: #272534;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  position: relative;
  line-height: 1;
}
#single .bl_news_date {
  float: right;
  font-size: 1rem;
  line-height: 3;
}

/*--------------------------------
archive
--------------------------------*/
#archive {
  /* ページャーのスタイリング */
}
#archive .el_section_ttl {
  text-align: center;
  margin-bottom: 60px;
}
#archive .bl_news_list {
  display: inline-block;
}
#archive .bl_news_card {
  display: inline;
}
#archive .bl_news_item {
  flex-direction: row;
  margin-bottom: 30px;
  position: relative;
  justify-content: space-between;
}
#archive .bl_news_item .post-categories {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
}
#archive .bl_news_item .post-categories a {
  color: #ffffff;
}
#archive .bl_news_date {
  font-size: 12px;
  color: #707070;
}
#archive .bl_news_ttl {
  color: #272534;
  font-weight: 500;
  letter-spacing: 0.2em;
  position: relative;
  line-height: 1;
}
#archive .bl_news_category {
  display: inline-block;
  top: 0;
  left: 0;
  padding: 5px 10px;
}
#archive .navigation.pagination {
  margin-top: 90px;
}
#archive .page-numbers {
  display: flex;
  justify-content: center;
}
#archive .pagination .nav-links {
  text-align: center;
}
#archive .pagination .nav-links .current {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #52b2ac;
  background: #52b2ac;
  color: #fff;
  line-height: 50px;
  box-sizing: border-box;
}
#archive .pagination .nav-links .dots {
  display: inline-block;
  margin: 30px 8px 8px 8px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
}
#archive .pagination .nav-links a.page-numbers {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #52b2ac;
  text-decoration: none;
  color: #52b2ac;
  line-height: 50px;
  box-sizing: border-box;
}
#archive .pagination .nav-links a.page-numbers:hover {
  background: #52b2ac;
  color: #fff;
  transition: all 0.3s;
}/*# sourceMappingURL=style.css.map */